/* sans */
  @import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Great+Vibes&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,700;1,800&display=swap');

/* nunito */
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Great+Vibes&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
        scroll-behavior: smooth;
    }
    body{
        font-family: 'Nunito',sans-serif;
        @apply
        bg-slate-300 dark:bg-black
        text-black dark:text-white
    }
    h1,h2,h3,h4,h5,h6{
        font-family: 'Open Sans', sens-serif ;
    }
}

@layer components {
    .nav{
        @apply bg-white/70 fixed top-0 left-0 z-40 dark:bg-black py-3 md:py-0 w-full ;

    }
    .nav-menu{
        @apply fixed md:static top-0 left-0 z-20 flex flex-col md:flex-row 
        items-center gap-8 md:gap-12
        pt-28 pb-8 md:p-0
        w-full md:w-auto
        md:bg-transparent md:dark:bg-transparent 
        bg-white/20 dark:bg-gray
        duration-500
        shadow-lg md:shadow-none
    }
    .nav-link{
        @apply font-semibold border-b-4 border-transparent hover:border-primary 
    }

    .home-section{
        @apply grid items-center grid-cols-1 md:grid-cols-2
        pt-28 md:pt-0
        md:h-screen
        md:overflow-hidden
    }
    .btn-primary{
        @apply  bg-primary hover:brightness-110 font-bold
        text-cyan-50 px-4 py-2.5
        rounded-lg
    }
    .container-hero-img{
        @apply bg-primary
        rounded-md h-60 md:h-full
        overflow-hidden order-1
        md:order-2

    }
    .skill{
        @apply relative flex items-center justify-center
        bg-slate-100 dark:bg-gray
        w-28 h-28
        rounded-full cursor-pointer
    }
    .portfolio-hedding{
        @apply text-4xl md:text-5xl
        text-center text-primary md:text-left
        font-bold mb-8 md:mb-12;
    }
    .portfolio-card{
        @apply flex flex-col md:flex-row
        items-center bg-slate-100 dark:bg-black
        dark:border
        rounded overflow-hidden
    }
    .portfolio-link{
        @apply flex items-center gap-2
        px-4 py-2 rounded-md
        w-max hover:brightness-110

    }
    .contact-link{
        @apply
        p-4 rounded-full hover:brightness-110
    }
}